<article class="max-w-full prose dark:prose-invert">
    <div class="relative">
        <div class="absolute inset-x-0 bottom-0 h-1/2 bg-gray-100"></div>
        <div class="mx-auto max-w-7xl p-0">
            <div class="relative sm:overflow-hidden">
                <div class="fixed inset-x-0 top-0" style="z-index:-10">
                    {{ $homepageImage := "" }}
                    {{ with .Site.Params.defaultBackgroundImage }}{{ $homepageImage = resources.Get . }}{{ end }}
                    {{ with .Site.Params.homepage.homepageImage }}{{ $homepageImage = resources.Get . }}{{ end }}
                    {{ if not (eq $homepageImage "") }}
                    <img class="w-full h-[1000px] object-cover m-0 nozoom" src="{{ $homepageImage.RelPermalink }}">
                    <div
                        class="absolute inset-0 h-[1000px] bg-gradient-to-t from-neutral dark:from-neutral-800 to-transparent mix-blend-normal">
                    </div>
                    <div
                        class="opacity-60 absolute inset-0 h-[1000px] bg-gradient-to-t from-neutral dark:from-neutral-800 to-neutral-100 dark:to-neutral-800 mix-blend-normal">
                    </div>
                    {{ end }}
                </div>
                <div class="relative px-4 py-16 sm:px-6 sm:py-24 lg:py-32 lg:px-8 flex flex-col items-center justify-center text-center" style="padding-top: 6rem;">
                    {{ with .Site.Author.image }}
                    {{ $authorImage := resources.Get . }}
                    {{ if $authorImage }}
                    {{ $authorImage := $authorImage.Fill "288x288" }}
                    <img class="mb-2 rounded-full h-36 w-36" width="144" height="144"
                        alt="{{ $.Site.Author.name | default " Author" }}" src="{{ $authorImage.RelPermalink }}" />
                    {{ end }}
                    {{ end }}
                    <h1 class="mb-2 text-4xl font-extrabold text-neutral-800 dark:text-neutral-200">
                        {{ .Site.Author.name | default .Site.Title }}
                    </h1>
                    {{ with .Site.Author.headline }}
                    <h2 class="mt-0 mb-0 text-xl text-neutral-800 dark:text-neutral-300">
                        {{ . | markdownify | emojify }}
                    </h2>
                    {{ end }}
                    <div class="mt-1 mb-10 text-2xl">
                        {{ with .Site.Author.links }}
                        <div class="flex flex-wrap">
                            {{ range $links := . }}
                            {{ range $name, $url := $links }}
                            <a class="px-1 hover:text-primary-400 text-primary-800 dark:text-primary-200" href="{{ $url }}" target="_blank"
                                aria-label="{{ $name | title }}" rel="me noopener noreferrer">{{ partial
                                "icon.html" $name }}</a>
                            {{ end }}
                            {{ end }}
                        </div>
                        {{ end }}
                    </div>
                    <section class="max-w-full prose dark:prose-invert" width="100%">{{ .Content | emojify }}</section>
                    {{ if .Site.Params.homepage.showMoreLink }}
                    <div class="mt-10 flex justify-center">
                        <a href="{{ .Site.Params.homepage.showMoreLinkDest }}">
                            <button
                                class="bg-transparent hover:text-primary-500 prose dark:prose-invert font-semibold hover:text-white py-2 px-4 border border-primary-500 hover:border-transparent rounded">Full table of content</button>
                        </a>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</article>
<section>
    {{ partial "recent-articles/main.html" . }}
</section>
{{ if .Site.Params.homepage.layoutBackgroundBlur | default false }}
<div id="background-blur" class="fixed opacity-0 inset-x-0 top-0 h-full single_hero_background nozoom backdrop-blur-2xl"></div>
<script>
    window.addEventListener('scroll', function (e) {
        var scroll = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop || 0;
        var background_blur = document.getElementById('background-blur');
        background_blur.style.opacity = (scroll / 300)
    });
</script>
{{ end }}
